profit_manager_re-write.ps1
Miner-XMRfest/libeay32.dll
Miner-XMRfest/festival-miner.exe
Miner-XMRfest/festival-miner-cuda-backend.dll
Miner-XMRfest/festival-miner-opencl-backend.dll
Miner-XMRfest/ssleay32.dll
Miner-XMRmox/xmr-stak.exe
Miner-XMRmox/xmr-stak-backend.lib
Miner-XMRmox/xmr-stak-c.lib
Miner-XMRmox/xmrstak_cuda_backend.dll
Miner-XMRmox/xmrstak_cuda_backend.exp
Miner-XMRmox/xmrstak_cuda_backend.lib
Miner-XMRmox/xmrstak_opencl_backend.dll
Miner-XMRmox/xmrstak_opencl_backend.exp
Miner-XMRmox/xmrstak_opencl_backend.lib
Miner-XMRstak/libeay32.dll
Miner-XMRstak/ssleay32.dll
Miner-XMRstak/xmr-stak.exe
Miner-XMRstak/xmrstak_cuda_backend.dll
Miner-XMRstak/xmrstak_opencl_backend.dll
Miner-XMRmox/ssleay32.dll
Miner-XMRmox/config.txt
Miner-XMRmox/libeay32.dll
Miner-XMRmox/mox-stak.exe
Miner-XMRstak/mox-stak.exe
